body {
    color: #FFF;
    background : #262626;
    font-size:15px;
}

a{
    color : #4c5b69;
}

ul{
    list-style: none;
    margin : 0;
    padding : 0;
}

hr{
    margin : 10px 0 15px 0;
}



nav.navbar.navbar-inverse{
    border-radius : 0px;
}

.navbar-inverse .navbar-nav > li > a ,.navbar-inverse , navbar-brand{
    color : #FFF !important;
}

.navbar li a:hover {
    background : #090909 !important;

    color :#FFF !important;
    border-bottom: 3px solid #ff1a1a;

}
.navbar li.active a {
    background : #111 !important;

    color :#ff1a1a !important;
    border-bottom: 3px solid #ff1a1a;

}

.navbar-header > a.navbar-brand{
    padding : 7px;
    text-decoration: none;

    color : #ff0008 !important;



    font-family: Gugi;

    font-size: x-large;
}

.navbar{
    background : #111;
    margin-bottom : 30px;
    border : 0;
}


.navbar-nav > li{
    padding-left: 5px;
}
.navbar-nav > li > a {

}
.navbar-nav > li > a.nav-link {
    padding : 14px;
}
.navbar-nav > li > input[type='text']{
    margin-top  : 9px;
    height: 30px;
}
.navbar-nav > li > input[type='submit']{


    margin : 9px;
    line-height: 3px !important;
    height: 30px;
    background : #ff1a1a;
    border : 1px solid #ff1a1a;
}
.navbar-nav > li > input[type='submit']:hover,.navbar-nav > li > input[type='submit']:focus  {
    background : #ff1a1a;
    border : 1px solid #ff1a1a;
}





span.ico{
    font-size: x-large;
    color: #fff400;
    line-height: 30px;
    border: 1px solid #269c23;
    background:  #269c23;
    border-radius: 50%;
}


.block{
    background: #1b1b1b;
    border-raidus : 5px;
    padding : 15px 20px;
    margin-bottom : 20px;
}

a.btn.btn-primary{
    margin: 1px;
    height: 35px;
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
a.btn .btn-primary:focus, a.btn.btn-primary:hover{
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
input.btn.btn-primary{
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
input.btn .btn-primary:focus, input.btn.btn-primary:hover{
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
a.list-group-item{
    background: #1b1b1b ;
    border-color: #1b1b1b;
    color : #FFF;
}
a.list-group{
    background: #1b1b1b ;
    border-color: #1b1b1b;
    color : #FFF;

}
a.list-group-item:hover{
    color : #FFF;
    border-color: #ff1a1a;
    background : #ff1a1a !important;
}
a.list-group-item.active{
    background : #ff1a1a !important;

    border-color: #ff1a1a;
}
a.list-group-item.active > span.badge{
    border: 1px solid #269c23;
    background:  #269c23;
    color : #FFF;
}
a.list-group-item.active:hover{
    border-color: #ff1a1a;
    background : #ff1a1a !important;
}
div.panel{
    background: #1b1b1b;
    border-color: #1b1b1b !important;
}
div.panel .panel-default .panel-list{
    background: #1b1b1b ;
    border-color: #1b1b1b !important;
}

div.panel-heading.panel-heading-dark {
    background: #131313 !important;
    border-color: #131313 !important;
    color : #FFF !important;
}
.badge{
    border: 1px solid #269c23;
    background:  #269c23;
    color : #FFF;
}


table.table .table-striped .table-dark {


}
table.table .table-striped .table-dark> tbody> tr{

}
th{


}
td{

}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #3c3c3c;

}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #1e1e1e;

}


.game{
    padding-top : 10px;
    padding-bottom : 10px;
}
.game-price{
    position : absolute;
    bottom: 30%;
    right : 15px;
    background: #d68311;
    color: #fff;
    padding : 5px 10px 5px 10px;
    font-size: small;
}
.game-title{
    padding : 5px;
}
.game img{
    width: 100%;
}
.game-description{

}
.game-add{

}
.game-add button{

      font-size: small;
  }

div.game-add >button.btn.btn-primary{
    background : #269c23 !important;
    border : 1px solid #269c23 !important;
}
div.game-add >button.btn .btn-primary:focus, button.btn.btn-primary:hover{
    background : #269c23 !important;
    border : 1px solid #269c23 !important;
}