body {
    color: #FFF;
    background : #262626;
    font-size:15px;
}

a{
    color : #4c5b69;
}

ul{
    list-style: none;
    margin : 0;
    padding : 0;
}

hr{
    margin : 10px 0 15px 0;
}



nav.navbar.navbar-inverse{
    border-radius : 0px;
}

.navbar-inverse .navbar-nav > li > a ,.navbar-inverse , navbar-brand{
    color : #FFF !important;
}

.navbar li a:hover {
    background : #ff1a1a !important;

    color :#fff !important;
    border-bottom: 3px solid #ff1a1a;
}
.navbar li.active a {
    background : #ff1a1a !important;

    color :#fff !important;
    border-bottom: 3px solid #ff1a1a;

}

.navbar-header > a.navbar-brand{
    padding : 7px;
    text-decoration: none;

    color : #ff0008 !important;



    font-family: Gugi;

    font-size: x-large;
}

.navbar{
    background : #161616;
    margin-bottom : 30px;
    border : 0;
}


.navbar-nav > li{
    padding-left: 5px;
}
.navbar-nav > li > a {

}
.navbar-nav > li > a.nav-link {
    padding : 14px;
}
.navbar-nav > li > input[type='text']{
    margin-top  : 9px;
    height: 30px;
}
.navbar-nav > li > input[type='submit']{
    margin-top : 9px;
    line-height: 3px !important;
    height: 30px;
    background : #ff1a1a;
    border : 1px solid #ff1a1a;
}
.navbar-nav > li > input[type='submit']:hover,.navbar-nav > li > input[type='submit']:focus  {
    background : #ff1a1a;
    border : 1px solid #ff1a1a;
}





span.ico{
    font-size: x-large;
    color: #FFF;
}


.block{
    background: #161616;
    border-raidus : 5px;
    padding : 15px 20px;
    margin-bottom : 20px;
}
input.btn.btn-primary{
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
input.btn .btn-primary:focus, input.btn.btn-primary:hover{
    background : #ff1a1a !important;
    border : 1px solid #ff1a1a !important;
}
a.list-group-item{
    background: #161616 ;
    border-color: #161616;
    color : #FFF;
}
a.list-group{
    background: #161616 ;
    border-color: #161616;
    color : #FFF;

}
a.list-group-item:hover{
    color : #FFF;
    border-color: #ff1a1a;
    background : #ff1a1a !important;
}
a.list-group-item.active{
    background : #ff1a1a !important;

    border-color: #ff1a1a;
}
a.list-group-item.active:hover{
    border-color: #ff1a1a;
    background : #ff1a1a !important;
}
div.panel{
    background: #161616 ;
    border-color: #161616 !important;
}
div.panel .panel-default .panel-list{
    background: #161616 ;
    border-color: #161616 !important;
}

div.panel-heading.panel-heading-dark {
    background: #000000 !important;
    border-color: #000000 !important;
    color : #FFF !important;
}